html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

body {
  font-size: 1.6rem;
  color: hsl(193, 38%, 86%);
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 25px;
}

.container {
  max-width: 540px;
  min-width: 350px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 30px;
}

.container .gerador-conselhos {
  text-align: center;
  margin-bottom: -60px;
}

.container .gerador-conselhos .conselho {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.4rem;
  margin-bottom: 2.5rem;
}

.container .gerador-conselhos .mensagem-motivacional {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.container .gerador-conselhos .img-div{
  margin: 0 auto;
}

.container .gerador-conselhos .btn-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(150, 100%, 66%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 25px auto 0;
}

.container .gerador-conselhos .btn-back:hover {
  box-shadow: hsl(150, 100%, 66%) 0px 0px 20px 0px;
}

